// Bootstrap Variablen vor dem Import überschreiben

// Color Themes: https://colorhunt.co/palette/00309200879effab5bfff2db
$primary: #A1E3F9;
$dark: black;
$secondary: #FFAB5B;
$light: #FFF2DB;
$info: #A1E3F9;
$success: #94db42;

// Bootstrap SCSS laden
@import "bootstrap/scss/bootstrap";